assignments/digit110/rnc/bills_rng4.rnc

# DIGIT 110 RELAX NG PRE-TEST HOMEWORK INSTRUCTIONS:  
# * You're downloading two files: Rename these files according to our standard file naming conventions for Canvas submissions (as in: beshero-rng4.xml and beshero-rng4.rnc)
# * Make the schema well-formed and document with  # comments where you made change(s). 
# * Then, associate the schema with the XML file we have provided for the exam.
# * Next, correct the schema code so that it validates the XML (happy green oXygen for both documents) and document briefly with # comments what you changed and why.
#  **NOTE**: DO NOT CHANGE the markup in the XML file, except to add your schema line!
#
# TIPS: 
# There are 13 critical errors in this Relax-NG schema that will make oXygen's error-checking box RED. Only a few of them will appear at first in the Relax NG. 
# More errors will be revealed when you associate the schema with the XML file.
# Your goal is to correct each of these errors.

# First, correct the schema file so it "turns green" in oXygen and write a comment to document each correction.
# Then, associate your corrected  schema with the XML (and remove the original schema line). 
# At that point the other validation errors will become evident in the XML file.)
# Remember to split your oXygen screen (Window -> Tile Editors Vertically), and carefully examine the XML to see how 
# the elements are written. 
# DO NOT CHANGE THE MARKUP IN THE XML FILE. Make ALL corrections in the Relax NG Schema to make the XML valid according to the schema.
# Save the schema and use the red checkmark in oXygen to check the validation as you go.
#
# SUBMITTING YOUR WORK:
# When you are finished, upload BOTH the schema and the XML file to Canvas using the posted upload point for this exam. 
# You may zip the files to submit them just as you have done for homework assignments.

start = xml
xml = element xml {metadata, recipe}
metadata = element metadata {title, author, editor, source, time, yield} #5. 2023-09-25 hjb: there is no yield element in this. added yield
title = element title {text} # 1. 2023-09-25 hjb: changed txt to text
author = element author {id, text}
editor = element editor {id, text}
source = element source {url, text} # 4. 2023-09-25 hjb: there is no url attribute in the element. add url attribute before text
time = element time {dur, text}
yield = element yield {text} # 6. 2023-09-25 hjb: there is no yield element line. added here
id = attribute id {xsd:ID} # 3. 2023-09-25 hjb: the attribute is labeled as is instead of id. changed to id
url = attribute url {xsd:anyURI}
dur = attribute dur {xsd:duration}

recipe = element recipe {ingList, prep}
ingList = element ingList {heading, ing+}
heading = element heading {text}
ing = element ing {id, meas?, unit?, mixed{alt*}}
alt = element alt {meas, unit, text}
meas = attribute meas {xsd:float}
unit = attribute unit {"cup" | "T" | "t"  | "F" | "C" | "inch" | "pint"} # 8. 2023-09-25 hjb: there is no "pint" attribute value. added pint
prep = element prep {heading, step+} # 11. 2023-09-25 hjb: i replaced the question mark after step with a plus sign so there is more than one. the step element is not optional, so use the plus instead
step = element step {n, mixed{(combine | equip | equipUse | ingUse*)*}} # 9. 2023-09-25 hjb: to use more than one of the same element in this, i added parenthases around the options and put an asterik after
equip = element equip {id, mixed{(equip | equipUse | setting | time | temp | size)*}} # 8. 2023-09-25 hjb: there is no temp element listed in the equip element. added temp # 13. 2023-09-25 hjb: same issue as before with size. added size element
setting = element setting {text} # 2. 2023-09-25 hjb: there is no setting element in the schema. Added one here
temp = element temp {meas, unit, text}
size = element size {depth, unit, text}
depth = attribute depth {xsd:float}
equipUse = element equipUse {ref, mixed{(temp | size | equip | equipUse | ingUse | setting | time)*}}
ingUse = element ingUse {ref, meas?, unit?, text} # 10. 2023-09-25 hjb: added question marks after meas and unit since they are not always included attributes in the ingUse element
ref = attribute ref {xsd:IDREFS}
combine = element combine {ref, mixed{ingUse}} # 12. 2023-09-25 hjb: instead of just having text, i put in a mixed element so you can use the ingUse element
n = attribute n {xsd:integer} # 7. 2023-09-25 hjb: the n attribute says xsd:date but it should be an xsd:integer










