assignments/digit110/rnc/bills_RNGtest.rnc

# DIGIT 110 RELAX NG TEST INSTRUCTIONS:  
# * Save these test files according to our standard file naming conventions for Canvas submissions.
# * Make the schema well-formed and document with  # comments where you made change(s). 
# * Then, associate the schema with the XML file we have provided for the exam.
# * Next, correct the schema code so that it validates the XML (happy green oXygen for both documents) and document briefly with # comments what you changed and why.
#  **NOTE**: DO NOT CHANGE the markup in the XML file, except to add your schema line!
#
# TIPS: 
# There are 13 critical errors in this Relax-NG schema that will make oXygen's error-checking box RED. Only a few of them will appear at first in the Relax NG. 
# More will be revealed when you associate the schema with the XML file.
# Your goal is to correct each of these errors.
# When attribute values in the XML represent a datatype, apply a datatype in this schema for full credit. 

# First, correct the schema file so it "turns green" in oXygen and write a comment to document each correction.
# Then, associate your corrected  schema with the XML (and remove the original schema line). 
# At that point the other validation errors will become evident in the XML file.)
# Remember to split your oXygen screen (Window -> Tile Editors Vertically), and carefully examine the XML to see how 
# the elements are written. 
# DO NOT CHANGE THE MARKUP IN THE XML FILE. Make ALL corrections in the Relax NG Schema to make the XML valid according to the schema.
# Save the schema and use the red checkmark in oXygen to check the validation as you go.
#
# **NOTE**: Because this is an exam, you are expected to complete this assignment _individually_ 
# without discussion or help from other students. Any such collaboration will be considered to be plagiarism under the penalties stated on the syllabus.
# *  GITHUB: While you may ask basic questions on the class Slack, GitHub or by email, the instructor's responses will
# be correspondingly minimal: that is, I will not be telling you the complete answers. Similarly, for any
# questions about take-home exams on GitHub, students _must not_ reply to each other.
#
# SUBMITTING YOUR EXAM:
# When you are finished, upload BOTH the schema and the XML file to Canvas using the posted upload point for this exam. 
# You may zip the files to submit them just as you have done for homework assignments.
start = article
article = element article {head, body} 
# 13. 2023-09-27 hjb: There is no need for the mixed element. Removed the mixed element
# 14. 2023-09-27 hjb: The use of the pipe separator is incorrect. Replaced the pipe with a comma
head = element head {titleLine, headLine+} 
# 3. 2023-09-27 hjb: There is no headLine element defined. Added a headLine element definition to line 37
# 12. 2023-09-27 hjb: The headLine element does not have a repetition indicator. Added a + to the headLine element
headLine = element headLine {n, mixed{newspaper?, shift?, money?}*} 
# 4. 2023-09-27 hjb: There is no money element defined. Added a money element definition to line 40
# 5. 2023-09-27 hjb: There is no shift element defined. Added a shift element definition to line 43
money = element money {unit, amount, text}
# 6. 2023-09-27 hjb: There is no unit attribute defined. Added a unit attribute definition to line
unit = attribute unit {"USD"}
shift = element shift {dur, text}
# 7. 2023-09-27 hjb: There is no dur attribute defined. Added a dur attribute definition to line  45
dur = attribute dur {xsd:duration}
titleLine = element titleLine {mixed{(newspaper, date), num?, series}}
# 11. 2023-09-27 hjb: There is no series element listed in the titleLine element. Added series element
newspaper = element newspaper {text} 
# 10. 2023-09-27 hjb: For the newspaper element, replace 'empty' with 'text'
date = element date {when, text}
# 8. 2023-09-27 hjb: There is no when attribute defined. Added a when attribute definition to line  52
when = attribute when {xsd:date}
num = element num {amount, text}
amount = attribute amount {xsd:decimal} 
# 1. 2023-09-27 hjb: There are two question marks after the xsd. It needs to change to xsd:decimal
series = element series {text}
n = attribute n {xsd:integer} 
# 2. 2023-09-27 hjb: There are two question marks after the xsd. It needs to change to xsd:integer
body = element body {p+} 
# 16. 2023-09-27 hjb: The p element has no repetition indicators. Added a + to the p element
p = element p {mixed{company | address | description}*} 
# 15. 2023-09-27 hjb: The elements need to be in a mixed element rather than a group separated by pipes surrounded by parenthases.
company = element company {text}
address = element address {type, text}
type = attribute type {"exact" | "general"} 
# 9. 2023-09-27 hjb: Instead of using a comma to separate the "exact" and "general" values, separate with a pipe to say it can be either "exact" OR "general"
description = element description {mixed{(company|address)*}}


